name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: vian0001
          template: classic
          filename: github-metrics.svg
          config_timezone: Asia/Jakarta

          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_followup: yes
