name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: vian0001
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Jakarta

          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_isocalendar: yes
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_achievements: yes
          plugin_achievements_threshold: C
